body {
    margin: 0px;
}
.inner{
	width: 100%;
	margin: 0 auto;
	padding: 0 5%;
	height: 100%;
	overflow: auto;
    position: relative;
}
.play-holder .icon-stop{
	display: none;
}
.play-holder .btn{
	position: relative;
	border-radius: 50%;
	padding: 0;
	margin: 0 auto;
	width: 8em;
	height: 8em;
	display: block;
	background: none;
	border-color: #fff;
	color: #fff;
	box-shadow: 1px 1px 7px 0px rgba(0, 0,0, 0.7);
	text-shadow: 1px 1px 8px #000;
}
.btn-primary{
	text-shadow: 1px 1px 1px #000;
	box-shadow: 1px 1px 7px 0px rgba(0, 0,0, 0.7);
}
.play-holder .btn span{
	font-size: 70px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -35px;
	margin-left: -35px;
}
.play-holder .btn:active,
.play-holder .btn:focus{
	box-shadow: none;
}
.row{
	margin: 1em 0;
	padding: 1px 0;
}
.abs{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.table{
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.cell{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.time-item, .time-delimiter{
    display: inline-block;
    vertical-align: middle;
}
.time-inner{
    font-size: 4em;
}
div.modeContent {
    background: #19216D;
    background: -moz-linear-gradient(top, #19216D 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#19216D), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top, #19216D 0%, #000000 100%);
    background: -o-linear-gradient(top, #19216D 0%,#000000 100%);
    background: -ms-linear-gradient(top, #19216D 0%,#000000 100%);
    background: linear-gradient(to bottom, #19216D 0%,#000000 100%);
    border-color: #19216D;
}
div.modeContent IMG {
     margin: 0;
     position: absolute;
     max-height: 60%;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
 }
div.homeContent{
    margin: 8px;
}
.sleep {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #000000;

}
div.activeBlink{
    background: #2ef617;
    background: -moz-linear-gradient(top,  #2ef617 0%, #29a113 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ef617), color-stop(100%,#29a113));
    background: -webkit-linear-gradient(top, #2ef617 0%, #29a113 100%);
    background: -o-linear-gradient(top,  #2ef617 0%,#29a113 100%);
    background: -ms-linear-gradient(top,  #2ef617 0%,#29a113 100%);
    background: linear-gradient(to bottom,  #2ef617 0%,#29a113 100%);
    border-color: #2ef617
}
div.page{
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}
div.sedentaryRed{
    background: #97000b;
    background: -moz-linear-gradient(top,  #97000b 0%, #5b0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97000b), color-stop(100%,#5b0000));
    background: -webkit-linear-gradient(top, #97000b 0%, #5b0000 100%);
    background: -o-linear-gradient(top,  #97000b 0%,#5b0000 100%);
    background: -ms-linear-gradient(top,  #97000b 0%,#5b0000 100%);
    background: linear-gradient(to bottom,  #97000b 0%,#5b0000 100%);
    border-color: #97000b
}
div.sedentaryBlink{
    background: #bc000b;
    background: -moz-linear-gradient(top,  #bc000b 0%, #ff0200 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc000b), color-stop(100%,#ff0200));
    background: -webkit-linear-gradient(top, #bc000b 0%, #ff0200 100%);
    background: -o-linear-gradient(top,  #bc000b 0%,#ff0200 100%);
    background: -ms-linear-gradient(top,  #bc000b 0%,#ff0200 100%);
    background: linear-gradient(to bottom,  #bc000b 0%,#ff0200 100%);
    border-color: #bc000b
}
.class_Settings_Data-popup{
    min-width: 200px;
}
.split-custom-wrapper {
    /* position wrapper on the right of the listitem */
    position: absolute;
    right: 0;
    top: 2px;
    height: 100%;
}

.split-custom-button {
    position: relative;
    float: right;   /* allow multiple links stacked on the right */
    height: 100%;
    margin:0;
    min-width:3em;
    /* remove boxshadow and border */
    border:none;
    moz-border-radius: 0;
    webkit-border-radius: 0;
    border-radius: 0;
    moz-box-shadow: none;
    webkit-box-shadow: none;
    box-shadow: none;
}

.split-custom-button span.ui-btn-inner {
    /* position icons in center of listitem*/
    position: relative;
    margin-top:50%;
    margin-left:50%;
    /* compensation for icon dimensions */
    top:11px;
    left:-12px;
    height:40%; /* stay within boundaries of list item */
}